<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step05_if.html</title>
    <style>
        .box{
            width: 100px;
            height: 100px;
            background-color: yellow;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <h1>v-if and v-show 사용하기</h1>
    <div id="app">
    	<!-- v if는 문서객체를 만들지 말 지를 결정한다(추가,제거 -->
        <div class="box" v-if="true">box1</div>  
        <div class="box" v-if="false">box2</div> <!-- box는 검사 창 띄워보면 아예 없음 -->
        <div class="box" v-if="isMake">box3</div> <!-- 체크하면 만들어지고 해제하면 꺼진다. -->
        isMake <input type="checkbox" v-model="isMake">
        <!-- v show 는 문서객체를 보일지 숨기는지 결정한다.-->
        <div class="box" v-show="true">box4</div>
        <div class="box" v-show="false">box5</div>
        <div class="box" v-show="isShow">box6</div>
        isShow <input type="checkbox" v-model="isShow">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let app=new Vue({
            el:"#app",
            data:{
                isMake:true,
                isShow:false
            }
        });
    </script>     
</body>
</html>